/* Changes Background */

body, .content-wrapper {
	background: url("https://yiteee.github.io/thems/cool-backgrounds-futuristic-technology-pack-deals-bypeople-39.png") !important;
}


/* Changes input areas */

.eDhiE:not([type="checkbox"]):not([type="radio"]),
.lepTyw:not([type="checkbox"]):not([type="radio"]),
.eDhiE[type="checkbox"],
.eDhiE[type="radio"],
.hDlyZJ:not(.disabled):hover,
.farUaV,
.iZMsvi,
.iYSUfg,
.cKwXAB,
.ixeRNi:hover,
.jVkAsT:not([type="checkbox"]):not([type="radio"]),
.kmvYjP:not([type="checkbox"]):not([type="radio"]),
.hsUiOF,
.jrraLb,
.icxFlO:hover,
.gYNKkb,
.elUIig:hover,
.ekbHAG,
.btn-primary,
.btn-warning,
.btn-success,
.alert-danger,
pre,
.input-group .input-group-addon,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border-color: none !important;
	background-color: #000000 !important;
	border-radius: 0px !important;
}


/* Changes input text area */

.kZaCVF {
	border-color: #ffffff !important;
	background-color: #000000 !important;
	border-radius: 0px !important;
}

/* Changes console */

.LbmBV,
.hahdAC {
	
	background-color: #000000 !important;
	
}


/* Changes console color */

.xterm .xterm-screen,
.xterm .xterm-viewport {
	background-color: #000000 !important;
}
/* Changes console input */

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
	background-color: #000000 !important;
	border-color: transparent !important;
	color: #fafafa !important;
	border-radius: 0px !important;
}




