/* Changes Background */

body, .content-wrapper {
	background: url("data:image/svg+xml;base64,M9.333 242.476 C 9.333 242.763,9.553 242.792,12.292 242.875 C 15.736 242.978,16.676 243.229,17.837 244.356 C 20.224 246.672,20.218 251.910,17.826 254.302 C 16.572 255.555,15.967 255.735,12.765 255.803 L 9.947 255.862 10.057 253.321 C 10.117 251.924,10.167 249.442,10.167 247.807 L 10.167 244.833 12.292 244.834 C 16.424 244.836,17.616 245.927,17.467 249.572 C 17.340 252.676,16.070 253.997,13.208 253.999 L 12.167 254.000 12.167 250.000 L 12.167 246.000 11.750 246.000 L 11.333 246.000 11.333 250.316 L 11.333 254.633 12.470 254.747 C 16.344 255.136,18.482 252.996,18.303 248.909 C 18.139 245.149,16.603 244.000,11.742 244.000 L 9.333 244.000 9.333 250.346 L 9.333 256.693 12.463 256.638 L 15.592 256.583 16.692 256.042 C 19.235 254.788,20.251 252.873,20.248 249.333 C 20.245 245.502,18.993 243.359,16.264 242.517 C 14.641 242.015,9.333 241.984,9.333 242.476 M25.613 246.601 C 24.712 249.038,24.000 251.055,24.029 251.084 C 24.182 251.234,31.165 251.233,31.115 251.083 C 30.426 249.012,28.728 244.334,28.665 244.334 C 28.619 244.333,28.159 245.458,27.643 246.833 L 26.706 249.333 27.147 249.333 C 27.550 249.333,27.629 249.213,28.078 247.918 C 28.348 247.139,28.616 246.558,28.674 246.626 C 28.795 246.767,30.004 250.183,30.002 250.375 C 30.001 250.444,28.912 250.500,27.583 250.500 C 25.651 250.500,25.167 250.454,25.167 250.272 C 25.167 250.147,25.756 248.478,26.476 246.564 L 27.785 243.083 28.669 243.083 L 29.553 243.083 31.275 247.917 C 32.221 250.575,33.257 253.481,33.577 254.375 L 34.158 256.000 33.514 256.000 L 32.871 256.000 32.227 254.164 L 31.583 252.328 27.517 252.372 L 23.451 252.417 22.645 254.583 C 22.201 255.775,21.837 256.769,21.836 256.792 C 21.834 256.815,22.498 256.833,23.311 256.833 L 24.789 256.833 25.167 255.792 C 25.375 255.219,25.581 254.656,25.624 254.542 C 25.674 254.409,25.548 254.333,25.275 254.333 C 24.912 254.333,24.802 254.460,24.551 255.167 C 24.267 255.967,24.230 256.000,23.628 256.000 C 23.282 256.000,23.000 255.969,23.000 255.931 C 23.000 255.893,23.232 255.254,23.516 254.511 L 24.032 253.160 27.542 253.205 L 31.053 253.250 31.674 255.000 L 32.295 256.750 33.813 256.798 L 35.330 256.846 35.148 256.381 C 34.940 255.851,32.027 247.688,30.863 244.375 L 30.087 242.167 28.669 242.169 L 27.250 242.171 25.613 246.601 M37.833 249.569 L 37.833 256.833 39.250 256.833 L 40.667 256.833 40.667 253.417 L 40.667 250.000 42.340 250.000 C 44.960 250.000,46.000 249.175,46.000 247.098 C 46.000 245.069,45.106 244.412,42.145 244.267 C 39.663 244.145,39.839 243.972,39.836 246.542 C 39.833 248.164,39.834 248.167,40.250 248.167 C 40.665 248.167,40.667 248.161,40.667 246.583 L 40.667 245.000 42.089 245.000 C 44.534 245.000,45.262 245.564,45.132 247.360 C 45.010 249.048,44.050 249.505,41.159 249.249 L 39.833 249.132 39.833 252.566 L 39.833 256.000 39.142 256.000 L 38.451 256.000 38.559 254.725 C 38.618 254.024,38.667 251.117,38.667 248.266 L 38.667 243.083 41.292 243.130 C 45.856 243.211,47.218 244.120,47.220 247.083 C 47.222 249.747,45.748 251.167,42.979 251.167 C 41.852 251.167,41.833 251.174,41.833 251.606 L 41.833 252.046 43.312 251.962 C 46.322 251.790,47.969 250.131,47.990 247.250 C 48.016 243.553,46.485 242.448,41.208 242.360 L 37.833 242.304 37.833 249.569 M50.133 243.625 C 50.057 245.265,49.975 245.167,51.427 245.167 C 52.638 245.167,52.667 245.157,52.667 244.750 C 52.667 244.356,52.617 244.333,51.750 244.333 L 50.833 244.333 50.833 243.750 L 50.833 243.167 52.333 243.167 L 53.833 243.167 53.833 250.083 L 53.833 257.000 55.250 257.000 L 56.667 257.000 56.667 250.077 L 56.667 243.154 58.208 243.202 L 59.750 243.250 59.802 243.792 L 59.854 244.333 58.927 244.333 C 58.049 244.333,58.000 244.355,58.000 244.750 C 58.000 245.157,58.028 245.167,59.250 245.167 L 60.500 245.167 60.500 243.833 L 60.500 242.500 58.277 242.500 L 56.053 242.500 55.944 246.875 C 55.883 249.281,55.834 252.356,55.834 253.708 L 55.833 256.167 55.250 256.167 L 54.667 256.167 54.667 249.250 L 54.667 242.333 52.430 242.333 L 50.193 242.333 50.133 243.625 M65.936 243.619 C 65.698 244.241,64.948 246.250,64.268 248.083 L 63.032 251.417 66.540 251.462 C 68.470 251.486,70.085 251.470,70.130 251.425 C 70.175 251.381,69.665 249.803,68.997 247.920 C 68.329 246.036,67.763 244.515,67.739 244.539 C 67.687 244.592,65.833 249.522,65.833 249.607 C 65.833 249.640,66.011 249.667,66.228 249.667 C 66.570 249.667,66.694 249.478,67.161 248.239 C 67.458 247.454,67.727 246.838,67.761 246.872 C 67.794 246.905,68.081 247.679,68.399 248.591 C 68.717 249.503,69.021 250.362,69.074 250.500 C 69.158 250.717,68.836 250.743,66.654 250.700 C 64.364 250.654,64.148 250.624,64.251 250.366 C 64.313 250.211,64.929 248.565,65.620 246.708 L 66.876 243.333 67.750 243.333 L 68.623 243.333 70.895 249.716 C 73.510 257.063,73.334 256.368,72.556 256.302 L 71.945 256.250 71.325 254.500 L 70.704 252.750 66.628 252.705 L 62.553 252.661 61.832 254.622 C 61.436 255.701,61.079 256.677,61.038 256.792 C 60.983 256.948,61.332 257.000,62.442 257.000 L 63.920 257.000 64.313 255.903 C 64.588 255.136,64.654 254.754,64.531 254.631 C 64.224 254.324,63.925 254.603,63.618 255.480 C 63.329 256.306,63.299 256.333,62.681 256.333 L 62.042 256.333 62.562 254.918 L 63.083 253.502 66.606 253.501 L 70.129 253.500 70.773 255.333 L 71.416 257.167 72.886 257.167 C 74.273 257.167,74.350 257.148,74.251 256.838 C 74.194 256.657,73.034 253.376,71.674 249.546 L 69.200 242.583 67.784 242.535 L 66.367 242.488 65.936 243.619 M77.000 245.292 C 76.999 246.735,76.950 249.998,76.890 252.542 L 76.780 257.167 78.223 257.167 L 79.667 257.167 79.669 254.375 C 79.670 252.840,79.717 251.302,79.774 250.958 L 79.877 250.333 81.480 250.331 C 84.003 250.326,85.040 249.514,85.066 247.522 C 85.094 245.327,84.137 244.614,81.042 244.525 L 79.000 244.466 79.000 246.400 L 79.000 248.333 79.417 248.333 C 79.830 248.333,79.833 248.322,79.833 246.833 L 79.833 245.333 81.292 245.334 C 83.650 245.334,84.592 246.151,84.263 247.908 C 84.013 249.240,83.496 249.500,81.096 249.500 L 79.000 249.500 79.000 252.917 L 79.000 256.333 78.333 256.333 L 77.667 256.333 77.667 251.108 C 77.667 248.235,77.716 245.299,77.776 244.585 L 77.886 243.285 80.651 243.401 C 85.000 243.583,86.333 244.524,86.333 247.412 C 86.333 249.936,84.699 251.500,82.062 251.500 C 81.025 251.500,81.000 251.510,81.000 251.940 L 81.000 252.381 82.292 252.282 C 85.505 252.036,87.070 250.446,87.079 247.417 C 87.091 243.817,85.390 242.667,80.053 242.667 L 77.000 242.667 77.000 245.292 " stroke="none" fill="#6b6b6b" fill-rule="evenodd"></path><path id="path2" d="M9.792 242.121 C 10.090 242.158,10.577 242.158,10.875 242.121 C 11.173 242.084,10.929 242.053,10.333 242.053 C 9.737 242.053,9.494 242.084,9.792 242.121 M56.294 242.451 C 56.501 242.491,56.801 242.490,56.960 242.448 C 57.120 242.406,56.950 242.374,56.583 242.375 C 56.217 242.377,56.086 242.411,56.294 242.451 M50.055 243.583 C 50.055 244.225,50.086 244.467,50.122 244.121 C 50.158 243.775,50.157 243.250,50.120 242.955 C 50.083 242.659,50.054 242.942,50.055 243.583 M77.294 242.618 C 77.501 242.658,77.801 242.656,77.960 242.615 C 78.120 242.573,77.950 242.540,77.583 242.542 C 77.217 242.544,77.086 242.578,77.294 242.618 M12.129 242.956 C 12.521 242.991,13.121 242.990,13.463 242.954 C 13.804 242.919,13.483 242.890,12.750 242.890 C 12.017 242.891,11.737 242.920,12.129 242.956 M56.714 243.917 C 56.716 244.375,56.748 244.543,56.786 244.289 C 56.825 244.036,56.824 243.661,56.784 243.456 C 56.744 243.251,56.713 243.458,56.714 243.917 M59.282 243.275 C 59.543 243.331,59.668 243.506,59.720 243.885 C 59.791 244.398,59.793 244.396,59.772 243.833 C 59.753 243.336,59.689 243.246,59.333 243.223 C 58.985 243.200,58.977 243.208,59.282 243.275 M79.625 243.454 C 79.923 243.491,80.410 243.491,80.708 243.454 C 81.006 243.417,80.762 243.387,80.167 243.387 C 79.571 243.387,79.327 243.417,79.625 243.454 M41.958 244.287 C 42.256 244.324,42.744 244.324,43.042 244.287 C 43.340 244.250,43.096 244.220,42.500 244.220 C 41.904 244.220,41.660 244.250,41.958 244.287 M77.724 246.250 C 77.724 246.983,77.754 247.263,77.789 246.871 C 77.824 246.479,77.824 245.879,77.788 245.537 C 77.752 245.196,77.723 245.517,77.724 246.250 M55.888 247.250 C 55.889 247.892,55.919 248.134,55.955 247.788 C 55.991 247.442,55.990 246.917,55.954 246.621 C 55.917 246.325,55.887 246.608,55.888 247.250 M76.897 249.083 C 76.897 250.183,76.924 250.612,76.957 250.035 C 76.990 249.459,76.989 248.559,76.956 248.035 C 76.923 247.512,76.897 247.983,76.897 249.083 M20.383 249.333 C 20.383 249.838,20.415 250.044,20.453 249.792 C 20.491 249.540,20.491 249.127,20.453 248.875 C 20.415 248.623,20.383 248.829,20.383 249.333 M41.542 249.286 C 41.794 249.324,42.206 249.324,42.458 249.286 C 42.710 249.248,42.504 249.217,42.000 249.217 C 41.496 249.217,41.290 249.248,41.542 249.286 M25.542 250.453 C 25.794 250.491,26.206 250.491,26.458 250.453 C 26.710 250.415,26.504 250.383,26.000 250.383 C 25.496 250.383,25.290 250.415,25.542 250.453 M28.788 251.287 C 29.084 251.324,29.609 251.324,29.955 251.288 C 30.300 251.252,30.058 251.222,29.417 251.221 C 28.775 251.221,28.492 251.250,28.788 251.287 M79.721 252.250 C 79.722 252.892,79.752 253.134,79.788 252.788 C 79.824 252.442,79.824 251.917,79.787 251.621 C 79.750 251.325,79.721 251.608,79.721 252.250 M10.055 253.583 C 10.055 254.225,10.086 254.467,10.122 254.121 C 10.158 253.775,10.157 253.250,10.120 252.955 C 10.083 252.659,10.054 252.942,10.055 253.583 M38.550 255.167 C 38.550 255.671,38.581 255.877,38.619 255.625 C 38.658 255.373,38.658 254.960,38.619 254.708 C 38.581 254.456,38.550 254.662,38.550 255.167 M11.627 254.785 C 11.834 254.824,12.134 254.823,12.294 254.781 C 12.453 254.739,12.283 254.707,11.917 254.709 C 11.550 254.711,11.420 254.745,11.627 254.785 M78.883 255.500 C 78.883 256.004,78.915 256.210,78.953 255.958 C 78.991 255.706,78.991 255.294,78.953 255.042 C 78.915 254.790,78.883 254.996,78.883 255.500 M62.792 257.118 C 62.998 257.157,63.335 257.157,63.542 257.118 C 63.748 257.078,63.579 257.045,63.167 257.045 C 62.754 257.045,62.585 257.078,62.792 257.118 " stroke="none" fill="#4c4c4c" fill-rule="evenodd"></path><path id="path3" d="M11.708 242.119 C 11.960 242.158,12.373 242.158,12.625 242.119 C 12.877 242.081,12.671 242.050,12.167 242.050 C 11.662 242.050,11.456 242.081,11.708 242.119 M78.542 242.619 C 78.794 242.658,79.206 242.658,79.458 242.619 C 79.710 242.581,79.504 242.550,79.000 242.550 C 78.496 242.550,78.290 242.581,78.542 242.619 M76.875 246.583 C 76.877 246.950,76.911 247.080,76.951 246.873 C 76.991 246.666,76.990 246.366,76.948 246.206 C 76.906 246.047,76.874 246.217,76.875 246.583 M9.209 255.417 C 9.211 255.783,9.245 255.914,9.285 255.706 C 9.324 255.499,9.323 255.199,9.281 255.040 C 9.239 254.880,9.207 255.050,9.209 255.417 " stroke="none" fill="#444444" fill-rule="evenodd"></path><path id="path4" d="M13.292 242.118 C 13.498 242.157,13.835 242.157,14.042 242.118 C 14.248 242.078,14.079 242.045,13.667 242.045 C 13.254 242.045,13.085 242.078,13.292 242.118 M58.292 242.451 C 58.498 242.491,58.835 242.491,59.042 242.451 C 59.248 242.411,59.079 242.379,58.667 242.379 C 58.254 242.379,58.085 242.411,58.292 242.451 M80.463 242.622 C 80.855 242.657,81.455 242.657,81.796 242.621 C 82.137 242.585,81.817 242.557,81.083 242.557 C 80.350 242.558,80.071 242.587,80.463 242.622 M9.794 242.951 C 10.001 242.991,10.301 242.990,10.460 242.948 C 10.620 242.906,10.450 242.874,10.083 242.875 C 9.717 242.877,9.586 242.911,9.794 242.951 M50.875 243.750 C 50.877 244.117,50.911 244.247,50.951 244.040 C 50.991 243.832,50.990 243.532,50.948 243.373 C 50.906 243.214,50.874 243.383,50.875 243.750 M57.125 243.284 C 57.331 243.324,57.669 243.324,57.875 243.284 C 58.081 243.245,57.913 243.212,57.500 243.212 C 57.087 243.212,56.919 243.245,57.125 243.284 M76.890 244.750 C 76.891 245.483,76.920 245.763,76.956 245.371 C 76.991 244.979,76.990 244.379,76.954 244.037 C 76.919 243.696,76.890 244.017,76.890 244.750 M55.879 244.667 C 55.879 245.079,55.911 245.248,55.951 245.042 C 55.991 244.835,55.991 244.498,55.951 244.292 C 55.911 244.085,55.879 244.254,55.879 244.667 M40.709 245.583 C 40.711 245.950,40.745 246.080,40.785 245.873 C 40.824 245.666,40.823 245.366,40.781 245.206 C 40.739 245.047,40.707 245.217,40.709 245.583 M42.292 245.118 C 42.498 245.157,42.835 245.157,43.042 245.118 C 43.248 245.078,43.079 245.045,42.667 245.045 C 42.254 245.045,42.085 245.078,42.292 245.118 M56.730 247.417 C 56.731 248.517,56.758 248.945,56.790 248.368 C 56.823 247.792,56.823 246.892,56.790 246.368 C 56.757 245.845,56.730 246.317,56.730 247.417 M77.717 249.167 C 77.717 249.671,77.748 249.877,77.786 249.625 C 77.824 249.373,77.824 248.960,77.786 248.708 C 77.748 248.456,77.717 248.662,77.717 249.167 M78.898 251.750 C 78.898 252.942,78.925 253.407,78.957 252.785 C 78.989 252.162,78.989 251.187,78.957 250.618 C 78.924 250.049,78.898 250.558,78.898 251.750 M41.380 250.123 C 41.818 250.157,42.493 250.157,42.880 250.122 C 43.267 250.087,42.908 250.059,42.083 250.059 C 41.258 250.060,40.942 250.088,41.380 250.123 M28.208 250.455 C 28.552 250.491,29.115 250.491,29.458 250.455 C 29.802 250.419,29.521 250.389,28.833 250.389 C 28.146 250.389,27.865 250.419,28.208 250.455 M9.230 252.917 C 9.231 254.017,9.258 254.445,9.290 253.868 C 9.323 253.292,9.323 252.392,9.290 251.868 C 9.257 251.345,9.230 251.817,9.230 252.917 M26.458 251.284 C 26.665 251.324,27.002 251.324,27.208 251.284 C 27.415 251.245,27.246 251.212,26.833 251.212 C 26.421 251.212,26.252 251.245,26.458 251.284 M67.708 251.623 C 68.144 251.657,68.856 251.657,69.292 251.623 C 69.727 251.588,69.371 251.560,68.500 251.560 C 67.629 251.560,67.273 251.588,67.708 251.623 M79.709 254.750 C 79.711 255.117,79.745 255.247,79.785 255.040 C 79.824 254.832,79.823 254.532,79.781 254.373 C 79.739 254.214,79.707 254.383,79.709 254.750 M62.460 256.285 C 62.668 256.324,62.968 256.323,63.127 256.281 C 63.286 256.239,63.117 256.207,62.750 256.209 C 62.383 256.211,62.253 256.245,62.460 256.285 M38.625 256.955 C 39.015 256.990,39.652 256.990,40.042 256.955 C 40.431 256.920,40.112 256.892,39.333 256.892 C 38.554 256.892,38.235 256.920,38.625 256.955 " stroke="none" fill="#3c3c3c" fill-rule="evenodd"></path><path id="path0" d="M0.000 133.333 L 0.000 266.667 200.000 266.667 L 400.000 266.667 400.000 133.333 L 400.000 0.000 200.000 0.000 L 0.000 0.000 0.000 133.333 M14.999 242.178 C 19.290 242.874,21.503 247.175,20.084 252.057 C 19.096 255.454,17.008 256.667,12.144 256.667 L 9.113 256.667 9.223 252.390 C 9.284 250.037,9.333 247.181,9.333 246.043 L 9.333 243.973 12.292 244.029 C 16.928 244.117,18.362 245.363,18.385 249.327 C 18.406 252.886,16.713 254.677,13.208 254.802 L 11.333 254.869 11.333 250.351 L 11.333 245.833 11.750 245.833 L 12.167 245.833 12.167 249.917 L 12.167 254.000 13.093 254.000 C 16.000 254.000,17.500 252.412,17.500 249.333 C 17.500 245.930,16.203 244.833,12.176 244.833 L 10.167 244.833 10.167 250.348 L 10.167 255.863 12.792 255.806 C 17.864 255.697,20.112 253.125,19.486 248.144 C 19.007 244.329,17.411 243.141,12.583 243.006 L 9.417 242.917 9.364 242.458 L 9.311 242.000 11.614 242.001 C 12.880 242.002,14.404 242.082,14.999 242.178 M30.959 244.542 C 31.424 245.848,32.381 248.529,33.086 250.500 C 33.791 252.471,34.582 254.705,34.842 255.464 L 35.316 256.846 33.784 256.798 L 32.252 256.750 31.874 255.667 C 31.667 255.071,31.379 254.265,31.235 253.875 L 30.972 253.167 27.486 253.167 C 25.569 253.167,24.000 253.199,24.000 253.239 C 24.000 253.278,23.775 253.920,23.500 254.665 L 23.001 256.020 23.608 255.968 C 24.173 255.920,24.238 255.856,24.547 255.042 C 24.818 254.326,24.950 254.167,25.272 254.167 C 25.769 254.167,25.766 254.317,25.235 255.705 L 24.804 256.833 23.301 256.833 C 22.169 256.833,21.816 256.782,21.873 256.625 C 21.914 256.510,22.279 255.498,22.682 254.375 L 23.417 252.334 27.519 252.334 L 31.622 252.333 31.964 253.292 C 32.152 253.819,32.442 254.644,32.608 255.125 C 32.899 255.963,32.937 256.000,33.512 256.000 L 34.113 256.000 32.055 250.208 C 30.922 247.023,29.878 244.098,29.734 243.708 C 29.437 242.903,28.025 242.606,27.754 243.292 C 27.354 244.303,25.167 250.191,25.167 250.255 C 25.167 250.298,26.253 250.333,27.580 250.333 L 29.993 250.333 29.393 248.625 C 28.618 246.420,28.640 246.431,28.095 247.997 C 27.659 249.248,27.599 249.333,27.152 249.333 L 26.675 249.333 27.188 247.958 C 27.470 247.202,27.899 246.040,28.141 245.375 C 28.383 244.710,28.619 244.167,28.666 244.168 C 28.751 244.169,31.172 250.979,31.169 251.208 C 31.166 251.361,28.013 251.372,25.642 251.227 L 23.899 251.120 25.560 246.643 L 27.222 242.167 28.668 242.167 L 30.114 242.167 30.959 244.542 M44.980 242.600 C 48.980 243.739,49.143 250.196,45.209 251.668 C 43.834 252.182,41.833 252.145,41.833 251.604 C 41.833 251.225,41.891 251.205,43.240 251.135 C 45.961 250.992,47.256 249.571,47.126 246.872 C 46.988 244.006,45.882 243.278,41.542 243.195 L 38.667 243.139 38.667 249.570 L 38.667 256.000 39.250 256.000 L 39.833 256.000 39.833 252.583 L 39.833 249.167 41.825 249.167 C 44.525 249.167,45.167 248.768,45.167 247.092 C 45.167 245.664,44.579 245.252,42.316 245.089 L 40.881 244.987 40.775 245.868 C 40.717 246.353,40.669 247.069,40.668 247.458 C 40.667 248.102,40.629 248.167,40.250 248.167 L 39.833 248.167 39.833 246.150 L 39.833 244.133 41.958 244.192 C 45.164 244.280,46.082 244.987,45.970 247.283 C 45.867 249.383,45.076 250.014,42.394 250.134 L 40.667 250.210 40.667 253.605 L 40.667 257.000 39.375 256.997 C 38.665 256.996,38.008 256.940,37.917 256.872 C 37.809 256.793,37.767 254.197,37.798 249.500 L 37.846 242.250 40.965 242.297 C 43.137 242.330,44.355 242.422,44.980 242.600 M54.667 249.250 L 54.667 256.167 55.250 256.167 L 55.833 256.167 55.833 250.525 C 55.833 247.422,55.883 244.299,55.943 243.585 L 56.053 242.286 58.291 242.379 C 60.944 242.491,60.668 242.308,60.549 243.879 L 60.452 245.167 59.226 245.167 C 58.029 245.167,58.000 245.157,58.000 244.750 C 58.000 244.361,58.056 244.333,58.833 244.333 C 59.648 244.333,59.667 244.322,59.667 243.833 L 59.667 243.333 58.277 243.333 L 56.887 243.333 56.777 247.860 C 56.716 250.350,56.667 253.425,56.667 254.694 L 56.667 257.000 55.250 257.000 L 53.833 257.000 53.833 250.083 L 53.833 243.167 52.417 243.167 L 51.000 243.167 51.000 243.750 L 51.000 244.333 51.833 244.333 C 52.611 244.333,52.667 244.361,52.667 244.750 C 52.667 245.160,52.644 245.167,51.333 245.167 L 50.000 245.167 50.000 243.750 L 50.000 242.333 52.333 242.333 L 54.667 242.333 54.667 249.250 M70.218 245.333 C 70.755 246.846,71.901 250.059,72.764 252.474 C 73.627 254.890,74.333 256.933,74.333 257.016 C 74.333 257.099,73.667 257.167,72.853 257.167 L 71.374 257.167 70.734 255.330 L 70.094 253.494 66.609 253.538 L 63.125 253.583 62.646 254.831 C 62.382 255.517,62.167 256.102,62.167 256.132 C 62.167 256.644,63.415 255.971,63.649 255.333 C 63.876 254.716,64.007 254.574,64.394 254.529 C 64.925 254.468,64.928 254.419,64.283 256.088 L 63.898 257.083 62.449 257.131 C 60.700 257.190,60.739 257.324,61.740 254.667 L 62.462 252.750 66.605 252.750 L 70.747 252.750 71.125 253.833 C 72.034 256.438,71.972 256.333,72.597 256.333 C 72.910 256.333,73.167 256.308,73.167 256.278 C 73.167 256.247,72.302 253.791,71.245 250.820 C 70.188 247.848,69.158 244.948,68.955 244.375 L 68.586 243.333 67.751 243.334 L 66.917 243.334 65.571 246.959 L 64.225 250.583 66.552 250.630 C 69.362 250.686,69.171 250.879,68.414 248.753 C 68.069 247.784,67.741 247.037,67.686 247.092 C 67.630 247.148,67.388 247.731,67.148 248.388 C 66.753 249.466,65.840 250.275,65.832 249.553 C 65.825 248.936,67.754 244.364,67.879 244.700 C 68.387 246.071,70.333 251.560,70.333 251.623 C 70.333 251.699,63.127 251.497,63.036 251.419 C 62.987 251.376,66.106 242.900,66.267 242.639 C 66.319 242.556,67.009 242.509,67.801 242.535 L 69.242 242.583 70.218 245.333 M84.145 242.909 C 87.989 244.123,88.231 250.224,84.502 251.890 C 83.239 252.454,81.000 252.500,81.000 251.961 C 81.000 251.564,81.050 251.544,82.308 251.458 C 84.999 251.274,86.242 249.995,86.247 247.404 C 86.253 244.434,85.079 243.612,80.714 243.528 L 77.833 243.472 77.833 245.126 C 77.833 246.035,77.784 248.929,77.723 251.556 L 77.613 256.333 78.220 256.333 L 78.826 256.333 78.872 252.958 L 78.917 249.583 81.000 249.500 C 83.815 249.387,84.214 249.122,84.214 247.368 C 84.214 245.868,83.646 245.448,81.503 245.362 L 79.833 245.295 79.833 246.897 C 79.833 248.496,79.832 248.500,79.417 248.500 L 79.000 248.500 79.000 246.500 L 79.000 244.500 80.958 244.504 C 83.839 244.509,84.817 245.081,85.093 246.923 C 85.434 249.196,84.209 250.333,81.422 250.333 L 79.833 250.333 79.832 252.375 C 79.832 253.498,79.783 255.035,79.724 255.792 L 79.617 257.167 78.225 257.167 L 76.833 257.167 76.833 250.607 C 76.833 246.999,76.882 243.690,76.942 243.254 L 77.051 242.461 80.150 242.543 C 82.414 242.604,83.491 242.702,84.145 242.909 " stroke="none" fill="#242424" fill-rule="evenodd"></path><path id="path1" d="M9.333 242.476 C 9.333 242.763,9.553 242.792,12.292 242.875 C 15.736 242.978,16.676 243.229,17.837 244.356 C 20.224 246.672,20.218 251.910,17.826 254.302 C 16.572 255.555,15.967 255.735,12.765 255.803 L 9.947 255.862 10.057 253.321 C 10.117 251.924,10.167 249.442,10.167 247.807 L 10.167 244.833 12.292 244.834 C 16.424 244.836,17.616 245.927,17.467 249.572 C 17.340 252.676,16.070 253.997,13.208 253.999 L 12.167 254.000 12.167 250.000 L 12.167 246.000 11.750 246.000 L 11.333 246.000 11.333 250.316 L 11.333 254.633 12.470 254.747 C 16.344 255.136,18.482 252.996,18.303 248.909 C 18.139 245.149,16.603 244.000,11.742 244.000 L 9.333 244.000 9.333 250.346 L 9.333 256.693 12.463 256.638 L 15.592 256.583 16.692 256.042 C 19.235 254.788,20.251 252.873,20.248 249.333 C 20.245 245.502,18.993 243.359,16.264 242.517 C 14.641 242.015,9.333 241.984,9.333 242.476 M25.613 246.601 C 24.712 249.038,24.000 251.055,24.029 251.084 C 24.182 251.234,31.165 251.233,31.115 251.083 C 30.426 249.012,28.728 244.334,28.665 244.334 C 28.619 244.333,28.159 245.458,27.643 246.833 L 26.706 249.333 27.147 249.333 C 27.550 249.333,27.629 249.213,28.078 247.918 C 28.348 247.139,28.616 246.558,28.674 246.626 C 28.795 246.767,30.004 250.183,30.002 250.375 C 30.001 250.444,28.912 250.500,27.583 250.500 C 25.651 250.500,25.167 250.454,25.167 250.272 C 25.167 250.147,25.756 248.478,26.476 246.564 L 27.785 243.083 28.669 243.083 L 29.553 243.083 31.275 247.917 C 32.221 250.575,33.257 253.481,33.577 254.375 L 34.158 256.000 33.514 256.000 L 32.871 256.000 32.227 254.164 L 31.583 252.328 27.517 252.372 L 23.451 252.417 22.645 254.583 C 22.201 255.775,21.837 256.769,21.836 256.792 C 21.834 256.815,22.498 256.833,23.311 256.833 L 24.789 256.833 25.167 255.792 C 25.375 255.219,25.581 254.656,25.624 254.542 C 25.674 254.409,25.548 254.333,25.275 254.333 C 24.912 254.333,24.802 254.460,24.551 255.167 C 24.267 255.967,24.230 256.000,23.628 256.000 C 23.282 256.000,23.000 255.969,23.000 255.931 C 23.000 255.893,23.232 255.254,23.516 254.511 L 24.032 253.160 27.542 253.205 L 31.053 253.250 31.674 255.000 L 32.295 256.750 33.813 256.798 L 35.330 256.846 35.148 256.381 C 34.940 255.851,32.027 247.688,30.863 244.375 L 30.087 242.167 28.669 242.169 L 27.250 242.171 25.613 246.601 M37.833 249.569 L 37.833 256.833 39.250 256.833 L 40.667 256.833 40.667 253.417 L 40.667 250.000 42.340 250.000 C 44.960 250.000,46.000 249.175,46.000 247.098 C 46.000 245.069,45.106 244.412,42.145 244.267 C 39.663 244.145,39.839 243.972,39.836 246.542 C 39.833 248.164,39.834 248.167,40.250 248.167 C 40.665 248.167,40.667 248.161,40.667 246.583 L 40.667 245.000 42.089 245.000 C 44.534 245.000,45.262 245.564,45.132 247.360 C 45.010 249.048,44.050 249.505,41.159 249.249 L 39.833 249.132 39.833 252.566 L 39.833 256.000 39.142 256.000 L 38.451 256.000 38.559 254.725 C 38.618 254.024,38.667 251.117,38.667 248.266 L 38.667 243.083 41.292 243.130 C 45.856 243.211,47.218 244.120,47.220 247.083 C 47.222 249.747,45.748 251.167,42.979 251.167 C 41.852 251.167,41.833 251.174,41.833 251.606 L 41.833 252.046 43.312 251.962 C 46.322 251.790,47.969 250.131,47.990 247.250 C 48.016 243.553,46.485 242.448,41.208 242.360 L 37.833 242.304 37.833 249.569 M50.133 243.625 C 50.057 245.265,49.975 245.167,51.427 245.167 C 52.638 245.167,52.667 245.157,52.667 244.750 C 52.667 244.356,52.617 244.333,51.750 244.333 L 50.833 244.333 50.833 243.750 L 50.833 243.167 52.333 243.167 L 53.833 243.167 53.833 250.083 L 53.833 257.000 55.250 257.000 L 56.667 257.000 56.667 250.077 L 56.667 243.154 58.208 243.202 L 59.750 243.250 59.802 243.792 L 59.854 244.333 58.927 244.333 C 58.049 244.333,58.000 244.355,58.000 244.750 C 58.000 245.157,58.028 245.167,59.250 245.167 L 60.500 245.167 60.500 243.833 L 60.500 242.500 58.277 242.500 L 56.053 242.500 55.944 246.875 C 55.883 249.281,55.834 252.356,55.834 253.708 L 55.833 256.167 55.250 256.167 L 54.667 256.167 54.667 249.250 L 54.667 242.333 52.430 242.333 L 50.193 242.333 50.133 243.625 M65.936 243.619 C 65.698 244.241,64.948 246.250,64.268 248.083 L 63.032 251.417 66.540 251.462 C 68.470 251.486,70.085 251.470,70.130 251.425 C 70.175 251.381,69.665 249.803,68.997 247.920 C 68.329 246.036,67.763 244.515,67.739 244.539 C 67.687 244.592,65.833 249.522,65.833 249.607 C 65.833 249.640,66.011 249.667,66.228 249.667 C 66.570 249.667,66.694 249.478,67.161 248.239 C 67.458 247.454,67.727 246.838,67.761 246.872 C 67.794 246.905,68.081 247.679,68.399 248.591 C 68.717 249.503,69.021 250.362,69.074 250.500 C 69.158 250.717,68.836 250.743,66.654 250.700 C 64.364 250.654,64.148 250.624,64.251 250.366 C 64.313 250.211,64.929 248.565,65.620 246.708 L 66.876 243.333 67.750 243.333 L 68.623 243.333 70.895 249.716 C 73.510 257.063,73.334 256.368,72.556 256.302 L 71.945 256.250 71.325 254.500 L 70.704 252.750 66.628 252.705 L 62.553 252.661 61.832 254.622 C 61.436 255.701,61.079 256.677,61.038 256.792 C 60.983 256.948,61.332 257.000,62.442 257.000 L 63.920 257.000 64.313 255.903 C 64.588 255.136,64.654 254.754,64.531 254.631 C 64.224 254.324,63.925 254.603,63.618 255.480 C 63.329 256.306,63.299 256.333,62.681 256.333 L 62.042 256.333 62.562 254.918 L 63.083 253.502 66.606 253.501 L 70.129 253.500 70.773 255.333 L 71.416 257.167 72.886 257.167 C 74.273 257.167,74.350 257.148,74.251 256.838 C 74.194 256.657,73.034 253.376,71.674 249.546 L 69.200 242.583 67.784 242.535 L 66.367 242.488 65.936 243.619 M77.000 245.292 C 76.999 246.735,76.950 249.998,76.890 252.542 L 76.780 257.167 78.223 257.167 L 79.667 257.167 79.669 254.375 C 79.670 252.840,79.717 251.302,79.774 250.958 L 79.877 250.333 81.480 250.331 C 84.003 250.326,85.040 249.514,85.066 247.522 C 85.094 245.327,84.137 244.614,81.042 244.525 L 79.000 244.466 79.000 246.400 L 79.000 248.333 79.417 248.333 C 79.830 248.333,79.833 248.322,79.833 246.833 L 79.833 245.333 81.292 245.334 C 83.650 245.334,84.592 246.151,84.263 247.908 C 84.013 249.240,83.496 249.500,81.096 249.500 L 79.000 249.500 79.000 252.917 L 79.000 256.333 78.333 256.333 L 77.667 256.333 77.667 251.108 C 77.667 248.235,77.716 245.299,77.776 244.585 L 77.886 243.285 80.651 243.401 C 85.000 243.583,86.333 244.524,86.333 247.412 C 86.333 249.936,84.699 251.500,82.062 251.500 C 81.025 251.500,81.000 251.510,81.000 251.940 L 81.000 252.381 82.292 252.282 C 85.505 252.036,87.070 250.446,87.079 247.417 C 87.091 243.817,85.390 242.667,80.053 242.667 L 77.000 242.667 77.000 245.292 " stroke="none" fill="#6b6b6b" fill-rule="evenodd"></path><path id="path2" d="M9.792 242.121 C 10.090 242.158,10.577 242.158,10.875 242.121 C 11.173 242.084,10.929 242.053,10.333 242.053 C 9.737 242.053,9.494 242.084,9.792 242.121 M56.294 242.451 C 56.501 242.491,56.801 242.490,56.960 242.448 C 57.120 242.406,56.950 242.374,56.583 242.375 C 56.217 242.377,56.086 242.411,56.294 242.451 M50.055 243.583 C 50.055 244.225,50.086 244.467,50.122 244.121 C 50.158 243.775,50.157 243.250,50.120 242.955 C 50.083 242.659,50.054 242.942,50.055 243.583 M77.294 242.618 C 77.501 242.658,77.801 242.656,77.960 242.615 C 78.120 242.573,77.950 242.540,77.583 242.542 C 77.217 242.544,77.086 242.578,77.294 242.618 M12.129 242.956 C 12.521 242.991,13.121 242.990,13.463 242.954 C 13.804 242.919,13.483 242.890,12.750 242.890 C 12.017 242.891,11.737 242.920,12.129 242.956 M56.714 243.917 C 56.716 244.375,56.748 244.543,56.786 244.289 C 56.825 244.036,56.824 243.661,56.784 243.456 C 56.744 243.251,56.713 243.458,56.714 243.917 M59.282 243.275 C 59.543 243.331,59.668 243.506,59.720 243.885 C 59.791 244.398,59.793 244.396,59.772 243.833 C 59.753 243.336,59.689 243.246,59.333 243.223 C 58.985 243.200,58.977 243.208,59.282 243.275 M79.625 243.454 C 79.923 243.491,80.410 243.491,80.708 243.454 C 81.006 243.417,80.762 243.387,80.167 243.387 C 79.571 243.387,79.327 243.417,79.625 243.454 M41.958 244.287 C 42.256 244.324,42.744 244.324,43.042 244.287 C 43.340 244.250,43.096 244.220,42.500 244.220 C 41.904 244.220,41.660 244.250,41.958 244.287 M77.724 246.250 C 77.724 246.983,77.754 247.263,77.789 246.871 C 77.824 246.479,77.824 245.879,77.788 245.537 C 77.752 245.196,77.723 245.517,77.724 246.250 M55.888 247.250 C 55.889 247.892,55.919 248.134,55.955 247.788 C 55.991 247.442,55.990 246.917,55.954 246.621 C 55.917 246.325,55.887 246.608,55.888 247.250 M76.897 249.083 C 76.897 250.183,76.924 250.612,76.957 250.035 C 76.990 249.459,76.989 248.559,76.956 248.035 C 76.923 247.512,76.897 247.983,76.897 249.083 M20.383 249.333 C 20.383 249.838,20.415 250.044,20.453 249.792 C 20.491 249.540,20.491 249.127,20.453 248.875 C 20.415 248.623,20.383 248.829,20.383 249.333 M41.542 249.286 C 41.794 249.324,42.206 249.324,42.458 249.286 C 42.710 249.248,42.504 249.217,42.000 249.217 C 41.496 249.217,41.290 249.248,41.542 249.286 M25.542 250.453 C 25.794 250.491,26.206 250.491,26.458 250.453 C 26.710 250.415,26.504 250.383,26.000 250.383 C 25.496 250.383,25.290 250.415,25.542 250.453 M28.788 251.287 C 29.084 251.324,29.609 251.324,29.955 251.288 C 30.300 251.252,30.058 251.222,29.417 251.221 C 28.775 251.221,28.492 251.250,28.788 251.287 M79.721 252.250 C 79.722 252.892,79.752 253.134,79.788 252.788 C 79.824 252.442,79.824 251.917,79.787 251.621 C 79.750 251.325,79.721 251.608,79.721 252.250 M10.055 253.583 C 10.055 254.225,10.086 254.467,10.122 254.121 C 10.158 253.775,10.157 253.250,10.120 252.955 C 10.083 252.659,10.054 252.942,10.055 253.583 M38.550 255.167 C 38.550 255.671,38.581 255.877,38.619 255.625 C 38.658 255.373,38.658 254.960,38.619 254.708 C 38.581 254.456,38.550 254.662,38.550 255.167 M11.627 254.785 C 11.834 254.824,12.134 254.823,12.294 254.781 C 12.453 254.739,12.283 254.707,11.917 254.709 C 11.550 254.711,11.420 254.745,11.627 254.785 M78.883 255.500 C 78.883 256.004,78.915 256.210,78.953 255.958 C 78.991 255.706,78.991 255.294,78.953 255.042 C 78.915 254.790,78.883 254.996,78.883 255.500 M62.792 257.118 C 62.998 257.157,63.335 257.157,63.542 257.118 C 63.748 257.078,63.579 257.045,63.167 257.045 C 62.754 257.045,62.585 257.078,62.792 257.118 " stroke="none" fill="#4c4c4c" fill-rule="evenodd"></path><path id="path3" d="M11.708 242.119 C 11.960 242.158,12.373 242.158,12.625 242.119 C 12.877 242.081,12.671 242.050,12.167 242.050 C 11.662 242.050,11.456 242.081,11.708 242.119 M78.542 242.619 C 78.794 242.658,79.206 242.658,79.458 242.619 C 79.710 242.581,79.504 242.550,79.000 242.550 C 78.496 242.550,78.290 242.581,78.542 242.619 M76.875 246.583 C 76.877 246.950,76.911 247.080,76.951 246.873 C 76.991 246.666,76.990 246.366,76.948 246.206 C 76.906 246.047,76.874 246.217,76.875 246.583 M9.209 255.417 C 9.211 255.783,9.245 255.914,9.285 255.706 C 9.324 255.499,9.323 255.199,9.281 255.040 C 9.239 254.880,9.207 255.050,9.209 255.417 " stroke="none" fill="#444444" fill-rule="evenodd"></path><path id="path4" d="M13.292 242.118 C 13.498 242.157,13.835 242.157,14.042 242.118 C 14.248 242.078,14.079 242.045,13.667 242.045 C 13.254 242.045,13.085 242.078,13.292 242.118 M58.292 242.451 C 58.498 242.491,58.835 242.491,59.042 242.451 C 59.248 242.411,59.079 242.379,58.667 242.379 C 58.254 242.379,58.085 242.411,58.292 242.451 M80.463 242.622 C 80.855 242.657,81.455 242.657,81.796 242.621 C 82.137 242.585,81.817 242.557,81.083 242.557 C 80.350 242.558,80.071 242.587,80.463 242.622 M9.794 242.951 C 10.001 242.991,10.301 242.990,10.460 242.948 C 10.620 242.906,10.450 242.874,10.083 242.875 C 9.717 242.877,9.586 242.911,9.794 242.951 M50.875 243.750 C 50.877 244.117,50.911 244.247,50.951 244.040 C 50.991 243.832,50.990 243.532,50.948 243.373 C 50.906 243.214,50.874 243.383,50.875 243.750 M57.125 243.284 C 57.331 243.324,57.669 243.324,57.875 243.284 C 58.081 243.245,57.913 243.212,57.500 243.212 C 57.087 243.212,56.919 243.245,57.125 243.284 M76.890 244.750 C 76.891 245.483,76.920 245.763,76.956 245.371 C 76.991 244.979,76.990 244.379,76.954 244.037 C 76.919 243.696,76.890 244.017,76.890 244.750 M55.879 244.667 C 55.879 245.079,55.911 245.248,55.951 245.042 C 55.991 244.835,55.991 244.498,55.951 244.292 C 55.911 244.085,55.879 244.254,55.879 244.667 M40.709 245.583 C 40.711 245.950,40.745 246.080,40.785 245.873 C 40.824 245.666,40.823 245.366,40.781 245.206 C 40.739 245.047,40.707 245.217,40.709 245.583 M42.292 245.118 C 42.498 245.157,42.835 245.157,43.042 245.118 C 43.248 245.078,43.079 245.045,42.667 245.045 C 42.254 245.045,42.085 245.078,42.292 245.118 M56.730 247.417 C 56.731 248.517,56.758 248.945,56.790 248.368 C 56.823 247.792,56.823 246.892,56.790 246.368 C 56.757 245.845,56.730 246.317,56.730 247.417 M77.717 249.167 C 77.717 249.671,77.748 249.877,77.786 249.625 C 77.824 249.373,77.824 248.960,77.786 248.708 C 77.748 248.456,77.717 248.662,77.717 249.167 M78.898 251.750 C 78.898 252.942,78.925 253.407,78.957 252.785 C 78.989 252.162,78.989 251.187,78.957 250.618 C 78.924 250.049,78.898 250.558,78.898 251.750 M41.380 250.123 C 41.818 250.157,42.493 250.157,42.880 250.122 C 43.267 250.087,42.908 250.059,42.083 250.059 C 41.258 250.060,40.942 250.088,41.380 250.123 M28.208 250.455 C 28.552 250.491,29.115 250.491,29.458 250.455 C 29.802 250.419,29.521 250.389,28.833 250.389 C 28.146 250.389,27.865 250.419,28.208 250.455 M9.230 252.917 C 9.231 254.017,9.258 254.445,9.290 253.868 C 9.323 253.292,9.323 252.392,9.290 251.868 C 9.257 251.345,9.230 251.817,9.230 252.917 M26.458 251.284 C 26.665 251.324,27.002 251.324,27.208 251.284 C 27.415 251.245,27.246 251.212,26.833 251.212 C 26.421 251.212,26.252 251.245,26.458 251.284 M67.708 251.623 C 68.144 251.657,68.856 251.657,69.292 251.623 C 69.727 251.588,69.371 251.560,68.500 251.560 C 67.629 251.560,67.273 251.588,67.708 251.623 M79.709 254.750 C 79.711 255.117,79.745 255.247,79.785 255.040 C 79.824 254.832,79.823 254.532,79.781 254.373 C 79.739 254.214,79.707 254.383,79.709 254.750 M62.460 256.285 C 62.668 256.324,62.968 256.323,63.127 256.281 C 63.286 256.239,63.117 256.207,62.750 256.209 C 62.383 256.211,62.253 256.245,62.460 256.285 M38.625 256.955 C 39.015 256.990,39.652 256.990,40.042 256.955 C 40.431 256.920,40.112 256.892,39.333 256.892 C 38.554 256.892,38.235 256.920,38.625 256.955 ") !important;
}


/* Changes Header Color */

.ebtnLL,
.cWFcHc,
.iTxXDX,
.JZicT,
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side,
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.main-footer {
	background-color: #232323 !important;
	border-color: transparent !important;
	box-shadow: none !important;
}


/* Changes selected tab color */

.fmPgAW>a:active,
.fmPgAW>.navigation-link:active,
.fmPgAW>a:hover,
.fmPgAW>.navigation-link:hover,
.fmPgAW>a.active,
.fmPgAW>.navigation-link.active,
.cWFcHc>div>a:active,
.cWFcHc>div>div:active,
.cWFcHc>div>a.active,
.cWFcHc>div>div.active,
.jMDToC>a:active,
.jMDToC>.navigation-link:active,
.jMDToC>a:hover,
.jMDToC>.navigation-link:hover,
.jMDToC>a.active,
.jMDToC>.navigation-link.active,
.JZicT>div>a:active,
.JZicT>div>div:active,
.JZicT>div>a.active,
.JZicT>div>div.active {
	box-shadow: #3F778A 0px -2px inset !important;
	background-color: #203A43 !important;
}


/* Changes Text Color */

.fNmetC,
.hcJQtJ,
.ToRTP,
.dPhkRJ,
.cKOMAz,
.jSyjnD,
.jywpgX,
.eFKDEh,
.dUzAFF,
.cbFifO,
.farUaV,
.dMZZHB,
.lgYuLu,
.gSUxYg,
.cdBzyv,
.gxlLzB,
.jexamK,
.eWxPIu,
.eWxPIu:hover,
.jXGwrM,
.mIIYh,
.iambCQ,
.iZqkRd,
.chAlWS,
.iTwxpv,
.skin-blue .main-header .logo {
	color: #ffffff !important;
}


/* Changes disabled switch */

.gdhLjd>label,
.cDmYBr>label {
	background-color: #203A43 !important;
	border-color: #203A43 !important;
}


/* Changes enabled switch */

.gdhLjd>input[type="checkbox"]:checked+label,
.cDmYBr>input[type="checkbox"]:checked+label {
	background-color: #3F778A !important;
	border-color: #3F778A !important;
}


/* Changes server list color */

.liBonM,
.bOIdGn,
.jkiDvQ,
.iYhzbi,
.jqQFoq,
.bEKRkc,
.dRhlIo {
	background-color: #000000 !important;
	border-radius: 15px !important;
	border-color: #212121 !important;
}


/* Changes border when hover */

.liBonM:hover,
.kHuGmn:hover,
.dRhlIo:hover,
.bEKRkc:hover {
	border-color: #3F778A !important;
}


/* Changes status bar position and size */

.jkiDvQ .status-bar,
.bvinzM .status-bar,
.iYhzbi .status-bar,
.liBonM .status-bar,
.jqQFoq .status-bar,
.bEKRkc .status-bar,
.dRhlIo .status-bar {
	height: 7vw !important;
	right: -.25vw !important;
}


/* Changes Installing Status, and other bubble text */

.hNrKxe,
.dMZZHB,
.dHRxAp,
.epSLdr,
.bsrsDD,
.ffSVrP,
.fZqvbJ,
.fLfaAY,
.bsSkeI,
.jIIIrT,
.EwfIk,
.izAmwE,
code,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-search--inline .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field {
	border-radius: 15px;
	background-color: #3F778A !important;
	border-color: #3F778A !important;
	color: #fafafa !important;
}


/* Changes server icons */

.kHuGmn .icon,
.jkiDvQ .icon,
.bvinzM .icon,
.iYhzbi .icon,
.liBonM .icon,
.jqQFoq .icon,
.dRhlIo .icon {
	background-color: #3F778A !important;
}


/* Changes account settings area */

.hfBvRz,
.fenved {
	border-radius: 15px;
	background-color: #203A43 !important;
	border-color: #3F778A !important;
}


/* Changes input areas */

.eDhiE:not([type="checkbox"]):not([type="radio"]),
.lepTyw:not([type="checkbox"]):not([type="radio"]),
.eDhiE[type="checkbox"],
.eDhiE[type="radio"],
.hDlyZJ:not(.disabled):hover,
.farUaV,
.iZMsvi,
.iYSUfg,
.cKwXAB,
.ixeRNi:hover,
.jVkAsT:not([type="checkbox"]):not([type="radio"]),
.kmvYjP:not([type="checkbox"]):not([type="radio"]),
.hsUiOF,
.jrraLb,
.icxFlO:hover,
.gYNKkb,
.elUIig:hover,
.ekbHAG,
.btn-primary,
.btn-warning,
.btn-success,
.alert-danger,
pre,
.input-group .input-group-addon,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border-color: #3F778A !important;
	background-color: #0F2229 !important;
	border-radius: 15px !important;
}


/* Changes header-upper */

.kwjWaB,
.grusjm,
.cswOgL,
.cnbtLx,
.bPeJFv,
.bWXUsX,
.nav-tabs-custom.nav-tabs-floating>.nav-tabs,
.box-header.with-border,
.bg-gray {
	border-color: #3F778A !important;
	background-color: #203A43 !important;
	border-radius: 15px !important;
	margin-bottom: 1vw !important;
}


/* Changes header-lower,  */

.ifNwiE,
.LdCMD,
.fIhPZJ,
.cFegvH,
.box-body {
	border-color: transparent !important;
	background-color: #192E35 !important;
	border-radius: 15px !important;
}


/* Hides background of radial areas */

.RkKIC,
.cRDvbO,
.dmLxWB,
.gLxIAb,
.gHwjbw,
.WUPIv,
.dQCdoR,
.vtEGy,
.kGXByO,
.nav-tabs-custom,
.box,
.box-footer,
.small-box>.small-box-footer {
	background-color: transparent !important;
	border-top: none !important;
	box-shadow: none !important;
}


/* Changes console */

.LbmBV,
.hahdAC {
	border-radius: 15px !important;
	background-color: #000000 !important;
	margin-bottom: .75vw !important;
}


/* Changes console color */

.xterm .xterm-screen,
.xterm .xterm-viewport {
	background-color: #000000 !important;
}


/* Changes scroll bar */

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 1px #3F778A, inset 0 0 0 4px #3F778A !important;
}

::-webkit-scrollbar-thumb {
	border-right-width: 4px !important;
	border-left-width: 4px !important;
	-webkit-border-radius: 9px 4px !important;
	-webkit-box-shadow: inset 0 0 0 1px #3F778A, inset 0 0 0 4px #3F778A !important;
}

::-webkit-scrollbar {
	background: #192E35 !important;
	border-radius: 15px !important;
}


/* Changes console input */

.JQChZ,
.csimfD {
	border-color: #3F778A !important;
	background-color: #203A43 !important;
	border-radius: 15px !important;
}

.jSyjnD {
	border-color: #3F778A !important;
}


/* Changes input text area */

.kZaCVF {
	border-color: #ffffff !important;
	background-color: #000000 !important;
	border-radius: 15px !important;
}


/* Changes schedule, Users, Network, File Manager */

.kqnFDg,
.kHuGmn,
.hIHBYg,
.eGIYvK,
.bmqKpQ,
.fQUMLV {
	border-radius: 15px !important;
	overflow: hidden !important;
	background-color: #203A43 !important;
}


/* Changes Network Icon */

#app>div.sc-2l91w7-0.kDhnAT>div.sc-1p0gm8n-0.kaVYNu>section>div.x3r2dw-0.kbxq2g-0.evldyg.cZTZeB.fade-appear-done.fade-enter-done>div.sc-1xo9c6v-0.yy3pdt-3.gFWKai.hIHBYg>div.yy3pdt-4.irtdLf>div.yy3pdt-5.jCOUjK>svg {
	color: #fafafa !important;
}


/* Changes console input */

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
	background-color: #000000 !important;
	border-color: transparent !important;
	color: #fafafa !important;
	border-radius: 15px !important;
}


/* Changes check boxes */

.uOUEk.uOUEk,
.jVkAsT[type="checkbox"],
.jVkAsT[type="radio"] {
	border-radius: 15px !important;
	background-color: #192E35 !important;
	border-color: #3F778A !important;
}


/* Changes Sub-User */

.ekHIsr::-webkit-scrollbar {
	background: #203A43 !important;
	border-radius: 15px !important;
}

.ekHIsr {
	background-color: #203A43 !important;
	border-radius: 15px !important;
}


/* Fixes border radius when moving off of div */

.icxFlO,
.elUIig {
	border-radius: 15px !important;
}


/* Changes selected admin page */

.skin-blue .sidebar-menu>li.active>a {
	box-shadow: #3F778A 0px -2px inset !important;
	border-left-color: #3F778A !important;
	background-color: #192E35 !important;
}


/* Changes background color of hovered admin page */

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #192E35 !important;
}


/* Changes category name */

.skin-blue .sidebar-menu>li.header {
	color: #fafafa !important;
	background-color: #192E35 !important;
}


/* Changes selected tab and background color */

.nav-tabs-custom>.nav-tabs>li.active,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top-color: #3F778A !important;
	border-bottom-color: #3F778A !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
	background-color: #192E35 !important;
	border-color: transparent;
}

.nav-tabs-custom>.nav-tabs>li:hover {
	border-top-color: #3F778A !important;
}

/* Removes border */

.box-footer,
hr {
	border-top: none !important;
}

.nav-tabs-custom>.nav-tabs>li.active,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	background-color: #203A43 !important;
}

/* Removes port bubble */

#app > div.App___StyledDiv-sc-2l91w7-0.fnfeQw > div.Fade__Container-sc-1p0gm8n-0.hcgQjy > section > div.ContentContainer-x3r2dw-0.PageContentBlock___StyledContentContainer-kbxq2g-0.hiUzTH.ckLneN.ServerConsole___StyledServerContentBlock-sc-1j2y518-0.hlbvqz.fade-appear-done.fade-enter-done > div.ServerConsole___StyledDiv-sc-1j2y518-1.dfrjYE > div.TitledGreyBox___StyledDiv-gvsoy-0.kGXByO.ServerDetailsBlock___StyledTitledGreyBox-sc-168cvuh-0.dQCdoR > div.TitledGreyBox___StyledDiv3-gvsoy-4.fIhPZJ > p.ServerDetailsBlock___StyledP2-sc-168cvuh-3.wOPxU.CopyOnClick___StyledCopyToClipboard-sc-7pjzdv-1.knscqo > code {
	background: #192E35 !important;
}
